<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!-- META SECTION -->
    <title>Mkyong Wildfly Example</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- END META SECTION -->
    <!--  BEGIN STYLE -->
    <style>
        table, th, td {
            border: 1px solid black;
            padding: 1px;
        }
    </style>
    <!--  END STYLE -->

</head>
<body>

<div th:fragment="header">

</div>

<header id="header" class="alt" th:include="menu :: title-menu" />
    <table>
        <tr>
            <td>Nazwa</td>
            <td>Czy zaakceptowana</td>
            <td>&nbsp;</td>
        </tr>
        <th:block th:each="location : ${locations}">
            <tr>
                <td th:text="${location.name}">...</td>
                <td th:text="${location.accepted}">...</td>
                <td>
                    <a th:href="@{'/location/accept?locationId=' + ${location.id}}">
                        Zakceptuj
                    </a>

                    <a th:href="@{'/location/decline?locationId=' + ${location.id}}">
                        Odrzuc
                    </a>
                </td>
            </tr>
        </th:block>


    </table>

</body>
</html>